{% extends 'base.html' %}
{% block title_block %}
    this the fish
{% endblock %}

{% block content %}
    <h1>A fish</h1>
    <div class="table-responsive">
        <table class=" table table-hover">
            <tr>
                <th>Name</th>
                <th>Resale Price</th>
                <th>Shadow cast</th>
                <th>Location</th>
                <th>Image</th>
            </tr>
        {% for single_fish in object_list %}
            <tr>
                <td>{{ single_fish.name }}</td>
                <td>{{ single_fish.price }}</td>
                <td>{{ single_fish.shadow }}</td>
                <td>{{ single_fish.location }}</td>
                <td><img src="{{ single_fish.image }}" width="64" height="64"></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}